<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  internalLogLevel="Info"
  internalLogFile="${basedir}/logs/nlog-internal.log"
  internalLogToConsole="true">

  <extensions>
    <add assembly="NLog.Loki" />
  </extensions>

  <targets>
    <target xsi:type="File" name="allfile" throwExceptions="false"
      fileName="${basedir}/logs/nlog-AspNetCore-all-${shortdate}.log" createDirs="true" 
      layout="${activity:property=TraceId}|${activity:property=SpanId}|Op:${mdlc:item=Scope}|${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="Console" throwExceptions="false" name="console" layout="${activity:property=TraceId}|${activity:property=SpanId}|Op:${mdlc:item=Scope}|${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="Loki" throwExceptions="false"
      name="loki"
      endpoint="https://logs-prod-012.grafana.net"
      username="1521484"
      password="${environment:GRAFANA_LOKI_API_KEY}">

      <labels>
        <label name="app" layout="samwin-umlaut-converter-api" />
        <label name="env" layout="local" />
        <label name="level" layout="${level}" />
      </labels>

      <layout xsi:type="JsonLayout" includeMdlc="true">
        <attribute name="traceId" layout="${activity:property=TraceId}" />
        <attribute name="spanId" layout="${activity:property=SpanId}" />
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <attribute name="logger" layout="${logger}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="loki, allfile, console" />
  </rules>

</nlog>